
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("AdminLayoutHeadComponent");

<body>
    <div class="container-xxxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <partial name="~/PartialViews/AdminLayout/SpinnerPartial.cshtml" />
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <partial name="~/PartialViews/AdminLayout/SidebarPartial.cshtml" />
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Component.InvokeAsync("AdminLayoutNavbarComponent")
            <!-- Navbar End -->
            <!-- Blank Start -->

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    @RenderBody()
                </div>
            </div>
            <!-- Blank End -->
            <!-- Footer Start -->
            <partial name="~/PartialViews/AdminLayout/FooterPartial.cshtml" />
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <partial name="~/PartialViews/AdminLayout/ScriptPartial.cshtml" />
</body>

</html>